discord==1.0.1
discord.py==1.6.0
urllib3==1.24.3
AdvancedHTTPServer==2.2.0
aiocmd==0.1.2
aioconsole==0.3.1
aiodns==2.0.0
aiohttp==3.6.2
aiomultiprocess==0.8.0
aioredis==1.3.1
aiosqlite==0.15.0
aiowinreg==0.0.3
Pillow==8.1.0
gTTS==2.2.2
bs4==0.0.1
lxml==4.6.2
youtube_dl
colorlog
PyNaCl
ffmpeg
discord.py[voice]
pip
pymongo==3.11.3
dnspython
